@model OCBC_Joint_Account_Application.Models.CustApplication

@{ ViewData["Title"] = "Upload"; }


@if (Context.Session.GetString("JAC") != null)
{
    <div class="container-fluid">
        <div class="vl-360 joint-account-notification">
            <h4>Continuation of Joint-Account <br /> application with </h4>
            <h3>@ViewData["MainSalutation"] @ViewData["MainName"]</h3>
        </div>
    </div>
}

<div class="container-fluid" style="margin-top: 150px;">
    <div class="completion-bar">
        @if (Context.Session.GetString("JAC") != null)
        {
            <div class="completion-bar-3">
                <progress value="1" max="3"></progress>
                <h1 class="text-1"><b>Upload Document</b></h1>
                <h1 class="text-2">Joint-Applicant Information</h1>
                <h1 class="text-3">Verify Information</h1>
                <h2 class="circle circle-1"></h2>
                <h2 class="circle circle-2"></h2>
                <h2 class="circle circle-3"></h2>
            </div>
        }
        else
        {
            <progress value="1" max="4"></progress>
            <h1 class="text-1"><b>Upload Document</b></h1>
            <h1 class="text-2">Main Applicant Information</h1>
            <h1 class="text-3">Joint-Applicant Information</h1>
            <h1 class="text-4">Verify Information</h1>
            <h2 class="circle circle-1"></h2>
            <h2 class="circle circle-2"></h2>
            <h2 class="circle circle-3"></h2>
            <h2 class="circle circle-4"></h2>
        }

    </div>
</div>

<!--If user chooses Singaporean (Default option from the radio btn) radio btn, hide the Foreigner details-->
<form asp-action="Upload" enctype="multipart/form-data">
    <div class="container d-flex">
        <div class="container col-md-8" style="max-width:65%; margin-left:0; margin-top: 150px">
            <div class="container">
                <div class="row">
                    <div class="card text-center col-md-6 shadow-sm">
                        <div class="card-body d-flex flex-column">
                            <img class="card-img-top" src="~/image/no-image.png" alt="Card image cap">
                            <h5 class="card-title">Photo Identity (Front)</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <input type="file" asp-for="CustNRICFrontUpload" accept="image/png, image/gif, image/jpeg" required style="margin-bottom:20px;" /><!--Upload btn-->
                        </div>
                    </div>
                    <div class="card text-center col-md-6 shadow-sm">
                        <div class="card-body d-flex flex-column">
                            <img class="card-img-top" src="~/image/no-image.png" alt="Card image cap">
                            <h5 class="card-title">Photo Identity (Back)</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <input type="file" asp-for="CustNRICBackUpload" accept="image/png, image/gif, image/jpeg" required style="margin-bottom:20px;" /><!--Upload btn-->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card text-center col-md-6 shadow-sm">
                        <div class="card-body d-flex flex-column">
                            <img class="card-img-top" src="~/image/no-image.png" alt="Card image cap">
                            <h5 class="card-title">Residential Address</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <input type="file" asp-for="CustProofOfResidenceUpload" accept="image/png, image/gif, image/jpeg" required style="margin-bottom:20px;" /><!--Upload btn-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container col-md-4">
            @{
                @await Html.PartialAsync("_AccountInfoCard.cshtml"); }
        </div>
    </div>
    <a asp-action="UploadForeign">Foreign File Upload</a>
    <input type="submit" class="btn btn-primary" asp-action="Upload" value="Next" />

    <div class="container" style="margin-top: 60px;">
        @foreach (var item in ViewData["SingaporeanSelection"] as List<string>)
        {
            <label class="col-form-label">
                <input asp-for="Singaporean" type="radio" value="@item" class="form-check-input" />
                <span style="font-weight:normal; padding-right:20px">@item</span>
            </label>
        }
        <br />
        <input style="margin-top: 60px;" type="submit" class="resend" asp-action="Upload" value="Next" />
        <div class="form-group form-check-inline">
        </div>
    </div>
</form>

</div>-->
<!-- Radio button -->
<div class="form-group form-check-inline">
    @foreach (var item in ViewData["SingaporeanSelection"] as List<string>)
    {
        <label class="col-form-label">
            <input asp-for="Singaporean" type="radio" value="@item" class="form-check-input" />
            <span style="font-weight:normal; padding-right:20px">@item</span>
        </label>}
</div>
